.plant1Icon {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.plant1Wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-10xs) 0 0;
}
.ecobazar {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.03em;
  line-height: 38px;
  font-weight: 500;
  font-family: inherit;
  white-space: nowrap;
}
.logo,
.logoContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.logo {
  flex-direction: row;
  gap: var(--gap-5xs);
}
.logoContainer {
  flex-direction: column;
  padding: var(--padding-9xs-5) var(--padding-5xs) 0 0;
}
.searchIcon {
  height: 20px;
  width: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search1 {
  width: 400px;
  border: 0;
  outline: 0;
  font-family: var(--body-small-body-small-400);
  font-size: var(--font-size-mini);
  background-color: transparent;
  height: 21px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10.5px);
  right: -44px;
  line-height: 21px;
  color: var(--gray-scale-gray-500);
  text-align: left;
  display: inline-block;
  padding: 0;
}
.searech {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-smi-5) var(--padding-base);
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-5xs);
  max-width: 100%;
}
.search2 {
  position: relative;
  font-size: var(--body-small-body-small-400-size);
  line-height: 17px;
  font-weight: 600;
  font-family: var(--body-small-body-small-400);
  color: var(--gray-scale-white);
  text-align: left;
  display: inline-block;
  min-width: 50px;
}
.button,
.search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-5xl);
  background-color: var(--branding-success);
  border-radius: 0 var(--br-7xs) var(--br-7xs) 0;
}
.button:hover {
  background-color: var(--color-limegreen-100);
}
.search {
  width: 498px;
  border-radius: var(--br-7xs);
  border: 1px solid var(--gray-scale-gray-100);
  box-sizing: border-box;
  max-width: 100%;
}
.heartIcon {
  width: 32px;
  height: 32px;
  position: relative;
}
.heartWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
}
.devider {
  width: 1px;
  height: 25px;
  position: relative;
  border-right: 1px solid var(--gray-scale-gray-200);
  box-sizing: border-box;
}
.deviderWrapper {
  height: 29px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-8xs) 0 0;
  box-sizing: border-box;
}
.bagIcon {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div {
  width: 6px;
  position: relative;
  line-height: 10px;
  font-weight: 500;
  display: inline-block;
  min-width: 6px;
}
.cart,
.no {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  box-sizing: border-box;
}
.no {
  height: 20px;
  flex: 1;
  border-radius: var(--br-base);
  background-color: var(--branding-success-dark);
  border: 1px solid var(--gray-scale-white);
  overflow: hidden;
  align-items: flex-start;
  padding: var(--padding-9xs-5) var(--padding-7xs) var(--padding-8xs-5);
  z-index: 1;
}
.cart {
  height: 34px;
  width: 34px;
  align-items: flex-end;
  padding: 0 0 var(--padding-lg) var(--padding-lg);
  position: relative;
}
.itemCount,
.shoppingCart {
  position: relative;
  line-height: 120%;
  display: inline-block;
  min-width: 81px;
  white-space: nowrap;
}
.itemCount {
  font-size: var(--body-small-body-small-400-size);
  line-height: 100%;
  font-weight: 500;
  color: var(--gray-scale-gray-900);
  min-width: 48px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs);
  text-align: left;
  font-size: var(--font-size-2xs);
  color: var(--gray-scale-gray-700);
}
.shoppingCard {
  flex-direction: row;
  gap: var(--gap-xs);
}
.actionIcons,
.icons,
.midle,
.shoppingCard {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons {
  flex-direction: row;
  gap: var(--gap-base-5);
}
.actionIcons,
.midle {
  flex-direction: column;
  padding: var(--padding-7xs-5) 0 0;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--gray-scale-white);
}
.midle {
  align-self: stretch;
  background-color: var(--gray-scale-white);
  box-shadow: 0-1px 0#e6e6e6 inset;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-5xl) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-201xl);
  top: 0;
  z-index: 99;
  position: sticky;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--gren-gray-scale-900);
  font-family: var(--body-small-body-small-400);
}
@media screen and (max-width: 1350px) {
  .midle {
    gap: var(--gap-91xl);
  }
}
@media screen and (max-width: 925px) {
  .search {
    display: none;
  }
  .midle {
    gap: var(--gap-36xl);
  }
}
@media screen and (max-width: 450px) {
  .midle {
    gap: var(--gap-8xl);
  }
}
